<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Update</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
</head>
<body class="text-center">
    <h1 class="bg-primary p-5 m-3 text-white">Edit User {{user['id']}}</h1>
    <form class="bg-dark text-white p-5" action="/user/on_edit/{{user['id']}}" method ="POST">
        <p>First Name: <input type="text" name="fn" value="{{user['first_name']}}"></p>
        <p>Last Name: <input type="text" name="ln" value="{{user['last_name']}}"></p>
        <p>Email: <input type="text" name="em" value="{{user['email']}}"></p>
        <input type="submit" value="Update">
    </form>
</body>
</html>