<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
</head>
<body>
    <div class="body text-center text-white bg-primary p-5 m-3">
        <h1>Add a New User</h1>
        <form action="/create_user" method="POST">
            <p>First Name: <input type="text" name="fn"></p>
            <p>Last Name: <input type="text" name="ln"></p>
            <p>Email: <input type="text" name="em"></p>
            <input type="submit" value="Create">
        </form>
        <button class="m-3"><a href="/">Home</a></button>
    </div>
</body>
</html>