<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Read (ONE)</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
</head>
<body class="bg-primary text-white p-5 m-3">
    <h1>User {{user['id']}}</h1>

    <h3>Full Name: {{user['first_name']}} {{user['last_name']}}</h3>
    <h3>Email: {{user['email']}}</h3>
    <h3>Created At: {{user['created_at']}}</h3>
    <h3>Last Updated At: {{user['updated_at']}}</h3>
    <button class="btn btn-dark"><a class="text-white" href="/user">Users</a></button>
</body>
</html>